.btn {
    font-size: 24px;
    /* +10 more lines here -  some other general button styling etc etc etc */
}

.btn-danger {
    background-color: red;
}

.btn-warning {
    background-color: yellow;
}

.btn-info {
    background-color: lightskyblue;
}

.btn-success {
    background-color: lightgreen;
}
